.settings .button {
	font-size: 10px;
}

.settings .label {
	padding-bottom: 15px;
}

.hidden {
	display: none;
}

.duplicator .instance .content, .duplicator .instance .header {
	padding-left: 35px;
}

.settings .visibility {
	background: #AA9;
	color: #fff;
	font-size: 1.30em;
	line-height: 1.7em;
	position: absolute;
	top: 0; bottom: 0; left: 0;
	border-right: 1px solid #EEEEDD;
	width: 25px;
	text-decoration: none;
	text-shadow: none;
	text-align: center;
}

